<!-- CFP Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Call for Paper</h3>
            <div>
                <h5>Vuoi diventare uno speaker anche tu?</h5>
                <br>
                <br>
                <a target="blank" href="https://goo.gl/forms/BRl1SPguBqhNAOTG2" class="btn btn-primary waves-effect waves-button waves-light waves-float">Diventa uno speaker</a>
            </div>
        </div>
    </div>
</section>
<!-- End CFP Section -->
