<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div>
            <h3>Partners:</h3>
            <ul class="list-inline">
                <li>
                    <a href="https://www.meetup.com/it-IT/GDG-Venezia/}" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/google.svg">
                    </a>
                </li>
            </ul>
            <h3>Community:</h3>
            <ul class="list-inline">
                <li>
                    <a href="https://www.meetup.com/it-IT/GDG-Venezia/}" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/adi.svg">
                    </a>
                </li>
            </ul>
            <a href="{{ site.c4sponsorsUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{
                site.partnersC4sponsorsButton }}</a>
        </div>
    </div>
</section>
<!-- End Partners Section -->