<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div>
            <h3>Partners:</h3>
            <ul class="list-inline">
                <li>
                    <a href="https://developers.google.com/programs/community/gdg/" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/google.svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.pixartprinting.it/ " target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/pixart.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.seesaw.it/" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/seesaw.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.aton.eu/" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/aton.svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.metide.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/metide.png">
                    </a>
                </li>
                <li>
                    <a href="https://it.nttdata.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/ntt.png">
                    </a>
                </li>
            </ul>
            <h3>Community:</h3>
            <ul class="list-inline">
                <li>
                    <a href="http://www.programmersinpadua.it" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/pip.png">
                    </a>
                </li>
                <li>
                    <a href="https://androiddevs.it/" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/adi.svg">
                    </a>
                </li>

                <li>
                    <a href="https://coderdojozerobranco.wordpress.com" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/coder.png">
                    </a>
                </li>
                <li>
                    <a href="https://coding-gym.org/" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/gym.png">
                    </a>
                </li>
                <li>
                    <a href="https://m-u-g.github.io/" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/mug.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.meetup.com/it-IT/Scala-by-the-Lagoon/?_cookie-check=JB5jJfg9zZIxAoWH" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/scala.png">
                    </a>
                </li>
            </ul>
            <a href="{{ site.c4sponsorsUrl }}" target="_blank" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{
                site.partnersC4sponsorsButton }}</a>
        </div>
    </div>
</section>
<!-- End Partners Section -->