<!-- Begin Tickets 2 Section -->
<section id="tickets" class="tickets-2">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>Prenota il tuo posto</h3>
			<div style="width:100%; text-align:left;"><iframe src="https://eventbrite.it/tickets-external?eid=51936808392&ref=etckt"
				 frameborder="0" height="275" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto"
				 allowtransparency="true"></iframe>
				<div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;"><a
					 class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.it/">Con
						tecnologia Eventbrite</a></div>
			</div>
		</div>
</section>
<!-- End Tickets 2 Section -->